<div class="auth-main">

  <div class="auth-block">

    <form class="form form-horizontal row" [formGroup]="form" (submit)="login()">
      <div class="form-group"></div>

      <div class="form-group col-sm-12">
        <alert-message></alert-message>
      </div>

      <div class="form-group col-sm-12" [ngClass]="{'has-danger': email.touched && email.errors}">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [formControl]="email">
        </div>
      </div>
      <div class="form-group col-sm-12" [ngClass]="{'has-danger': password.touched && password.errors}">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" [formControl]="password">
        </div>
      </div>
      <div class="form-group col-sm-12 offset-sm-3">
        <div class="col-sm-9">
          <button class="btn btn-success" [disabled]="waiting">Login</button>
        </div>
      </div>
    </form>

  </div>

</div>